
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}


#menu-principal {
    background-color: #003366;
    padding: 15px;
    text-align: center;
}


.link-menu {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.tabela-dados {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

.tabela-dados th, .tabela-dados td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

.tabela-dados th {
    background-color: #ffcc00;
}